* {
   font-family:'Times New Roman', Times, serif;
   margin: 0;
   padding: 0;
}

h1 {
    font-size: 70px;
    color: #cb6ce6;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333058;
    height: 2.5rem;
    width: auto;
    font-size: 1.5rem;
}

a {
    color: #cb6ce6;
    text-decoration: none;
}

a:hover {
      color: #e2a9f1;
}

footer {
    display: block;
    background-color: rgba(160, 83, 182, 0.69);
    padding: 15px;
    height: 100%;
    margin-top: 4rem;
    color: #e2a9f1;
}

.filters {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 1.5%;
    background-color: #333058;
    opacity: 0.9;
    font-size: 1.4rem;
    width: 85%;
    margin-top: 3rem;
}

.filterbtns {
    margin-bottom: 1%;
}

.filterbtns button {
    font-size: 1.5rem;
    padding: 0.3rem;
    font-style: italic;
    background-color: #cb6ce6;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filterbtns button:hover {
    width: 20rem;
    height: 3rem;
    background-color:white;
}

.filterbtns button:active {
    background-color:#e2a9f1;
}

.charset a {
    color: black
}

.charset a:hover {
    color: #cb6ce6;
}

.charset div {
    background-color: #e2a9f1;
    font-size: 1.5rem;
    padding: 0.4rem;
    border: none;
}

.charset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.item {
    padding: 0.2rem;
    border-radius: 1%;
    background-color: aliceblue;
    margin: 0.5rem;
    border: 2.5px solid black;
}

.hidden {
    display: none;
}

.charset div {
    background-color: #e2a9f1;
}
