* {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
  }
 
 .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333058;
    height: 2.5rem;
    width: auto;
    font-size: 1.5rem;
 }
 
 h2>a:hover {
     color:#cb6ce6;
 }
 
 nav > a {
     color: #cb6ce6;
     text-decoration: none;
 }
 
 a {
     color: #cb6ce6;
     text-decoration: none;
 }
 
 a:hover {
       color: #e2a9f1;
 }
 
 footer {
     display: block;
     background-color: rgba(160, 83, 182, 0.69);
     padding: 15px;
     height: 100%;
     margin-top: 4rem;
     color: #e2a9f1;
 }