* {
   font-family:'Times New Roman', Times, serif;
   margin: 0;
   padding: 0;
}

h1 {
    font-size: 70px;
    color: #cb6ce6;
}

body {
    background-image: url(./assets/HPbackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333058;
    height: 2.5rem;
    width: auto;
    font-size: 1.5rem;
}

a.infoboxlink {
    display: block;
    color: #e2a9f1; 
    font-size: 2.5rem;
    font-weight: bold;
}

h2>a:hover {
    color:#cb6ce6;
}

a {
    color: #cb6ce6;
    text-decoration: none;
}

a:hover {
      color: #e2a9f1;
}

footer {
    display: block;
    background-color: rgba(160, 83, 182, 0.69);
    padding: 15px;
    height: 100%;
    margin-top: 4rem;
    color: #e2a9f1;
}

.foot a {
    color: #e2a9f1;
}

.foot a:hover {
    color: white;
}

section.infobox:hover {
    width: 47vw;
    height: 22vh;
}

section.infobox-right:hover {
    width: 47vw;
    height: 22vh;
}

    section.title {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(51, 48, 88, 0.82);
      width:60rem;
      height: 25rem;
      margin: auto;
    }

    .centeringtitletext
    {
      color:#e2a9f1;
      font-size: 11.8rem;
      display: block;
    }

    section.infobox {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(51, 48, 88, 0.82);
      width: 45vw;
      height: 20vh;
      margin-left: 2.1875rem;
      transition: width 2s, height 2s;
    }

    section.infobox-right {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(51, 48, 88, 0.82);
      width: 45vw;
      height: 20vh;
      margin-top: 2.25rem;
      margin-left: 2.1875rem;
      transition: width 2s, height 2s;
    }

    .linkicon {
      display: block;
      float: left;
      margin-right: 6.5rem;
      width: 2rem;
      height: 2rem;
      background-color: #cb6ce6;
      padding: 0.25rem;
    }

    .floatingicon {
      flex: 1;
    }

    @media screen and (min-width: 400px) {
      .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #333058;
        height: 2.5rem;
        width: auto;
        font-size: 1.5rem;
      }

      .linkicon {
        display: block;
        float: left;
        margin-right: 2rem;
        width: 2rem;
        height: 2rem;
        background-color: #cb6ce6;
        padding: 0.25rem;
      }
    }