* {
   font-family:'Times New Roman', Times, serif;
   margin: 0;
   padding: 0;
}

h1 {
    font-size: 70px;
    color: #cb6ce6;
}

body {
    background-image: url(./assets/HPbackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333058;
    height: 2.5rem;
    width: auto;
    font-size: 1.5rem;
}

a.infoboxlink {
    display: block;
    color: #e2a9f1; 
    font-size: 2.5rem;
    font-weight: bold;
}

h2>a:hover {
    color:#cb6ce6;
}

a {
    color: #cb6ce6;
    text-decoration: none;
}

a:hover {
      color: #e2a9f1;
}

footer {
    display: block;
    background-color: rgba(160, 83, 182, 0.69);
    padding: 15px;
    height: 100%;
    margin-top: 4rem;
    color: #e2a9f1;
}

section.infobox:hover {
    width: 47vw;
    height: 22vh;
}

section.infobox-right:hover {
    width: 47vw;
    height: 22vh;
}