* {
   font-family:'Times New Roman', Times, serif;
   margin: 0;
   padding: 0;
}

h1 {
    color: #cb6ce6;
}

body {
    background-image: url(./assets/HPbackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

 .sidebar {
  background-color: #1e1c3b;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  height: 100vh;
  width: 260px;
  display: flex;
  justify-content: center;
  transform: translateX(-100%);
  z-index: 4;
 }

 div nav a {
  background-color:#333058;
  width: 210px;
  height: 20%;
  display: flex;
  align-items: center;
  padding-left: 2rem;
 }

 div nav a:nth-child(1) {
  padding-top: 2rem;
 }

  div nav a:hover {
  background-color:#1e1c3b;
  display: flex;
  align-items: center;
  margin-left: 0.3rem;
  padding-left: 2rem;
 }

 .hamburgmenu {
  background-color:#1e1c3b;
  z-index: 5;
  width: fit-content;
  height: 40px;
  position: fixed;
  top:0;
  left: 0;
  padding-left: 0.5rem;
  padding-right: 1rem; 
  padding-top: 0.5rem;
 }

 .hamburgmenu:hover + .sidebar, .sidebar:hover {
  transform: translateX(0);
  z-index: 4;
 }

 .header {
    position:fixed;
    top:0; left:0;
    width:100%;
    height:48px;
    background:#1e1c3b;
    z-index:4;
 }

a.infoboxlink {
  display: block;
  color: #e2a9f1; 
  font-size: 2.5rem;
  font-weight: bold;
}

h2>a:hover {
    color:#cb6ce6;
}

a {
    color: #cb6ce6;
    text-decoration: none;
}

a:hover {
      color: #e2a9f1;
}

footer {
    display: block;
    background-color: rgba(160, 83, 182, 0.69);
    padding: 15px;
    height: 100%;
    margin-top: 4rem;
    color: #e2a9f1;
}

.foot a {
    color: #e2a9f1;
}

.foot a:hover {
    color: white;
}

section.infobox:hover {
    width: 47vw;
    height: 22vh;
}


section.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 48, 88, 0.82);
  width:60rem;
  height: 25rem;
  margin: auto;
}

.centeringtitletext
  {
    color:#e2a9f1;
    font-size: 11.8rem;
    display: block;
}

section.infobox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 48, 88, 0.82);
  width: 45vw;
  height: 20vh;
  transition: width 2s, height 2s;
}

.linkicon {
  display: block;
  float: left;
  margin-right: 6.5rem;
  width: 2rem;
  height: 2rem;
  background-color: #cb6ce6;
   padding: 0.25rem;
}

.floatingicon {
  flex: 1;
}

.centering-container {
  display: flex;
  flex-wrap: wrap;        
  justify-content: center;
  gap: 1.5rem;
  margin: 2rem 0;
}

p {
  color: #cb6ce6;
  margin-left:1.1rem;
  font-size: 1.1rem;
}

.title-the {
  font-size: 6rem;
  margin-left: -15rem;
  margin-top: -15rem;
}

.title-dreamers {
  font-size: 7rem;
  margin-left: 1rem;
  margin-top: -15rem;
}

.title-archive {
  margin-left: -55rem;
  margin-top: -13rem;
}

.title-line {
  margin-top: 14rem;
  margin-left: -57rem;
  width: 58rem;
}

.title-subtext {
  color: #cb6ce6;
  margin-top: 12rem;
  margin-left: -43rem;
}

.intruder_check {
  margin: auto;
  text-align: center;
  align-content: center;
  background-color:rgb(51, 48, 88, 0.82);
  width: 50vw;
  height: 10vh;
}

@media all and (max-width: 860px) {
  section.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 48, 88, 0.82);
    width:98vw;
    height: 35  vh;
  }

  section.infobox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 48, 88, 0.82);
    width: 90vw;
    height: 20vh;
    transition: width 2s, height 2s;
  }

  a.infoboxlink {
    display: block;
    color: #e2a9f1; 
    font-size: 4rem;
    font-weight: bold;
  }

  p {
     color: #cb6ce6;
     margin-left:1.1rem;
     font-size: 1.5rem;
  }

  section.infobox:hover {
    width: 95vw;
    height: 22vh;
  }

.title-the {
  font-size: 4rem;
  margin-left: -6rem;
  margin-top: -15rem;
}

.title-dreamers {
  font-size: 5rem;
  margin-left: 1rem;
  margin-top: -15rem;
}

.title-archive {
  font-size: 8.5rem;
  margin-left: -40rem;
  margin-top: -13rem;
}

.title-line {
  margin-top: 10rem;
  margin-left: -42rem;
  width: 45rem;
}

.title-subtext {
  color: #cb6ce6;
  margin-top: 12rem;
  margin-left: -36rem;
}

.sidebar {
  background-color: #1e1c3b;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  height: 100%;
  width: 260px;
  display: flex;
  justify-content: center;
  transform: translateX(-100%);
  z-index: 4;
 }

 div nav a {
  background-color:#333058;
  width: 210px;
  height: 20%;
  display: flex;
  align-items: center;
  padding-left: 2rem;
 }

 div nav a:nth-child(1) {
  padding-top: 2rem;
 }

  div nav a:hover {
  background-color:#1e1c3b;
  display: flex;
  align-items: center;
  margin-left: 0.3rem;
  padding-left: 2rem;
 }

 .hamburgmenu {
  background-color:#1e1c3b;
  z-index: 5;
  width: fit-content;
  height: 40px;
  position: fixed;
  top:0;
  left: 0;
  padding-left: 0.5rem;
  padding-right: 1rem; 
  padding-top: 0.5rem;
 }

}

@media all and (max-width: 500px) {
section.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 48, 88, 0.82);
    width:98vw;
    height: 35vh;
  }

  section.infobox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 48, 88, 0.82);
    width: 90vw;
    height: 20vh;
    transition: width 2s, height 2s;
  }

  a.infoboxlink {
    display: block;
    color: #e2a9f1; 
    font-size: 2rem;
    font-weight: bold;
  }

  p {
     color: #cb6ce6;
     margin-left:1.1rem;
     font-size: 0.8rem;
  }

  section.infobox:hover {
    width: 95vw;
    height: 22vh;
  }

  .title-the {
  font-size: 2rem;
  margin-left: -1rem;
  margin-top: -10rem;
}

.title-dreamers {
  font-size: 2.5rem;
  margin-left: 1rem;
  margin-top: -10rem;
}

.title-archive {
  font-size: 4.5rem;
  margin-left: -21rem;
  margin-top: -8rem;
}

.title-line {
  margin-top: 5rem;
  margin-left: -20rem;
  width: 20rem;
}

.title-subtext {
  font-size: 1rem;  
  color: #cb6ce6;
  margin-top: 5rem;
  margin-left: -20rem;
}

 .sidebar {
  background-color: #1e1c3b;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  height: 100vh;
  width: 260px;
  display: flex;
  justify-content: center;
  transform: translateX(-100%);
  z-index: 4;
 }

 div nav a {
  background-color:#333058;
  width: 13rem;
  height: 8rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
 }

 div nav a:nth-child(1) {
  padding-top: 2rem;
 }

  div nav a:hover {
  background-color:#1e1c3b;
  display: flex;
  align-items: center;
  margin-left: 0.3rem;
  padding-left: 2rem;
 }

 .hamburgmenu {
  background-color:#1e1c3b;
  z-index: 5;
  width: fit-content;
  height: 40px;
  position: fixed;
  top:0;
  left: 0;
  padding-left: 0.5rem;
  padding-right: 1rem; 
  padding-top: 0.5rem;
 }

 .intruder_check {
    margin: auto;
    text-align: center;
    align-content: center;
    background-color:rgb(51, 48, 88, 0.82);
    width: 60vw;
    height: 12vh;
  }

}