* {
   font-family:'Times New Roman', Times, serif;
   margin: 0;
   padding: 0;
}

body {
    background-color:#1e1c3b;
}

 .sidebar {
  background-color: #333058;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  height: 100vh;
  width: 260px;
  display: flex;
  justify-content: center;
  transform: translateX(-100%);
  z-index: 4;
 }

 div nav a {
  background-color:#1e1c3b;
  width: 220px;
  height: 19.5vh;
  display: flex;
  align-items: center;
  padding-left: 2rem;
 }

 div nav a:nth-child(1) {
  padding-top: 2rem;
 }

  div nav a:hover {
  background-color:#333058;
  display: flex;
  align-items: center;
  margin-left: 0.3rem;
  padding-left: 2rem;
 }

 .hamburgmenu {
  background-color:#333058;
  z-index: 5;
  width: fit-content;
  height: 40px;
  position: fixed;
  top:0;
  left: 0;
  padding-left: 0.5rem;
  padding-right: 1rem; 
  padding-top: 0.5rem;
 }

 .hamburgmenu:hover + .sidebar, .sidebar:hover {
  transform: translateX(0);
  z-index: 4;
 }

 .header {
    position:fixed;
    top:0; left:0;
    width:100%;
    height:48px;
    background:#333058;
    z-index:4;
 }

 .linkicon {
      display: block;
      float: left;
      margin-right: 6.5rem;
      width: 2rem;
      height: 2rem;
      background-color: #cb6ce6;
      padding: 0.25rem;
}

.floatingicon {
      flex: 1;
}

.title {
    color:#cb6ce6;
    display: flex;
    background-image: url(./assets/mapbackground.png);
    background-position: bottom;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.title h1 {
    font-size: 4rem;
    margin-right: 1rem;
}

.title h2 {
    font-size: 4rem;
    color:#e2a9f1;
}

p {
    color:#e2a9f1;
}

a {
    color: #cb6ce6;
    text-decoration: none;
}

a:hover {
      color: #e2a9f1;
}

footer {
    display: block;
    background-color: rgba(160, 83, 182, 0.69);
    padding: 15px;
    height: 100%;
    margin-top: 4rem;
    color: #e2a9f1;
}

footer a {
    overflow-wrap: break-word;
}

#map {
    margin: 2rem auto;
    width: 70rem;
    height: 50rem;
    background-color:#333058;
    z-index: 1;
}

.leaflet-popup-content-wrapper {
    background: #e2a9f1;
    color:#333058;
    font-size: 0.8rem;
}

.leaflet-popup-tip {
    display: none;
}

.leaflet-popup-content  {
    font-family:'Times New Roman', Times, serif;
    }

.foot a {
    color: #e2a9f1;
}

.foot a:hover {
    color: white;
}

@media all and (max-width: 860px) {
    .title {
        color:#cb6ce6;
        display: flex;
        background-image: url(./assets/mapbackground.png);
        background-position: bottom;
        justify-content: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    div nav a {
        background-color:#1e1c3b;
        width: 220px;
        height: 20vh;
        display: flex;
        align-items: center;
        padding-left: 2rem;
    }

    .title h1 {
        display: inline;
        font-size: 3rem;
        margin-right: 1rem;
    }
    
    .title h2 {
        display: inline;
        font-size: 3rem;
        color:#e2a9f1;
    }

    #map {
        margin: 2rem auto;
        width: 95vw;
        height: 50vh;
        background-color:#333058;
        z-index: 1;
    }
} 

@media all and (max-width: 450px) {
    .title {
        color:#cb6ce6;
        background-image: url(./assets/mapbackground.png);
        background-position: bottom;
        padding-top: 3rem;
        padding-bottom: 3rem;
        width: 100vw;
    }   

    .title h1, .title h2 {
        margin: 0;
    }

    .title h1 {
        font-size: 3rem;
    }
    
    .title h2 {
        font-size: 9rem;
        color:#e2a9f1;
        margin-top: 2rem;
        margin-left: -21rem;
    }

    div nav a {
        background-color:#1e1c3b;
        width: 220px;
        height: 16.5vh;
        display: flex;
        align-items: center;
        padding-left: 2rem;
    }
}